{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="jumbotron">
            <h1>Welcome to SimpleSocial !</h1>
    </div>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in quis sapiente dolore tenetur error suscipit numquam, deleniti odit. 
            Consequuntur asperiores dolorum fugit magnam doloremque quae suscipit nesciunt ipsa animi.
        </p>
    </div>
    
{% endblock %}